
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Arial', sans-serif; /* Adiciona uma fonte padrão */
}

.mcalogo {
    width: 50px;
    height: 50px;
}

#ham {
    border: 2px solid black;
    background-color: black
}

header {
    background-color: black;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black
}

ul {
    display: flex;
    justify-content: space-between;
    width: 800px;
    font-size: 2rem;
    color:aqua
}

lu a {
    color:aqua;
    text-decoration: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    background-image: linear-gradient(to right, black, aqua);
    color: rgb(50, 219, 224);
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 50px;
    border: solid 2px aliceblue;
    
}

.main input {
    width: 300px;
    color: aqua;
    background-color: black;
}

.buttons input {
    width: 100px;
}

.menu-principal {
    position: fixed;
    left: 0;
    top: 15vh;
    width: 100%;
    height: 85vh;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-principal li {
    list-style: none;
    color: rgb(12, 1, 1);
    font-size: 1.5em;
    border-radius: 5px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#bt-fechar {
    display: none;
    background-color: aqua;
    width: 30px;
    height: 30px;
    border-radius: 60%;
}

#bt-hamburguer {
    background-color: aqua;
    width: 30px;
    height: 30px;
    border-radius: 60%;
}





#silveira, #imperial, #reginalice {
/*     display: flex;
 */ align-items: center;
    border: 2px solid black;
    background-image: linear-gradient(to right, black, aqua);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px; /* Adiciona espaço interno */
    border-radius: 5%;
    border: solid 2px aliceblue;
}

#silveira img, #imperial img, #reginalice img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
}


#silveira iframe, #imperial iframe, #reginalice iframe {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
}

#silveira p, #imperial p, #reginalice p {
    margin-left: 20px; /* Adiciona espaço entre a imagem e o texto */
    background-color: black;
    color: aqua;
}

select {
    width: 300px;
    background-color: black;
    color: aqua;
    font-size: 2rem;
    margin-left: 20%;
    margin-top: 5%;
}

.mcalogo{
    width: 50px;
    height: 50px;
}


.whats{
    width: 50px;
    height: 50px;
}


.carro {
    width: 100%; /* makes the image width responsive */
    height: auto; /* maintains the aspect ratio */
  }
  



@media (min-width: 768px) {
    #bt-fechar, #bt-hamburguer {
        display: none;
       

    }

    .menu-principal {
        position: relative;
        left: auto;
        top: auto;
        width: 40vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color:aqua;
        border-radius: 5px;

    }

    .carro {
        height: auto; /* Adjust height on smaller screens if necessary */
      }
    
    
}
